.news-updates {
    width: 100%;
    margin-bottom: 40px;
}

.news-updates h2 {
    color: #0a2c1c;
    font-size: 32px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    margin-bottom: 10px;
}

.news-updates p {
    color: #435a4d;
    font-size: 16px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    margin-bottom: 20px;
}

.news-updates .article-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.news-updates article {
    background-color: beige;
    box-shadow: 2px 2px 1px rgba(71, 55, 26, 0.459);
    overflow: hidden;
}

.news-updates article img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-updates .article-container {
    padding: 16px;
}

.news-updates .article-container h1 {
    font-size: 22x;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: rgb(22, 61, 0);
    margin-bottom: 15px;
}

.news-updates .article-container h2 {
    font-size: 14px;
    color: #575757;
    margin-bottom: 10px;
}

.news-updates .article-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.news-updates .buttonArea {
    text-align: center;
    margin-top: 10px;
}

.news-updates .buttonArea .btn {
    background-color: #346e34;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.news-updates .buttonArea .btn:hover {
    background-color: #122c1a;
}

@media screen and (min-width: 769px) {
    .news-updates .article-area {
        grid-template-columns: repeat(2, 1fr);
    }
}
